@charset "UTF-8";

@media screen and (min-width: 375px) and (max-width: 415px) {
    
    html, body {
        margin: 0;
        padding: 0;
        border: 0;
    }

/*---------------------------------- MENU ---------------------------------------*/
    nav {
        background-color: gray;
    }

    nav ul {
        margin: 0;
        padding: 0;
        padding: 10px;
    }

    nav li {
        display: inline;
        font-size: 13px;
        padding: 10px;
    }
