@charset "UTF-8";

@media screen and (min-width: 1080px) {
    
    main {
        width: 50%;
        padding-top: 0;
        margin-left: auto;
        margin-right: auto;   
    }

    .secao {
        height: 100vh;
    }
    
/*---------------------------------- HEADER ---------------------------------------*/
    
    .navegacao  {
        gap: 80px;
    }

/*---------------------------------- MENU ---------------------------------------*/
    
    .home {
        height: 86vh;
        flex-direction: row-reverse;
        gap: 50px;
    }

    .photo {
        align-self: center;
        width: 250px;
        border: 2.5px solid var(--color1);
    }

/*---------------------------------- SOBRE MIM -------------------------------------*/

    .about_skills {
       gap: 60px;
    }

/*---------------------------------- PROJETOS ---------------------------------------*/  

    .projects {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .title__projects {
        padding: 100px 0 0 0; 
    }

    .projects__descrição {
        padding: 2em;
    }

    .projects__descrição__texto {
        padding: 1.5em 0;
    }

    .projects__descrição__botão {
        position: absolute;
        background: var(--color1);
        color: var(--color2);
        font-weight: 800;
        text-decoration: none;
        padding: .8em;
        border-radius: 10px;
        
    }

    .projects__imagem {
        width: 85%;
    }

    .swiper-pagination {
        position: initial;
    }

    .swiper {
        width: 100%;
    }

    .swiper-pagination {
        margin: 1em 0;
    }

    .swiper-button-next, 
    .swiper-button-prev, 
    .swiper-scrollbar {
        display: none;
    }

    .swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    /* oi */

    .swiper-slide {
        display: flex;
        flex-direction: row;
        align-items: center;
    }


    .projects__descrição__botão {
        display: inline-flex;
        margin-top: 20px;
    }
    
/*---------------------------------- CONTATOS ---------------------------------------*/

    div#contacts {
        display: block;
        margin: auto;
        height: 320px;  
        text-align: left;   
    }

    div#contacts p {
        margin: 0;
    }

    .funcao {
        display: block;
    }

    span#icons_contatos {
        position: relative;
        top: 25px;
        right: 30px;
    }

/*---------------------------------- FOOTER ---------------------------------------*/

    footer {
        height: 180px;
        width: 100%;
        background-color: var(--color1);
        color: var(--color2);
    }

    footer h1 {     
        font-size: 26px;
        margin: 0;    
    }

    footer h3 {
        margin: 0;
    }

    footer p {
        text-align: center;
        font-size: 10px;
    }

    .redes_footer {
        box-sizing: border-box
    }

    .redes_footer a {
        text-align: center;
        color: var(--color2);
    }

    .redes_footer a:hover {
        color: var(--color3);
    }

    .descricao {
        display: flex;
        justify-content: space-evenly;
        padding: 30px;
    }
}   