@charset "UTF-8";

@media screen and (min-width: 1080px) {
    
    main {
        width: 50%;
        padding-top: 0;
        margin-left: auto;
        margin-right: auto;   
    }

    .secao {
        height: 100vh;
    }
    
/*---------------------------------- HEADER ---------------------------------------*/
    
    .navegacao  {
        gap: 50px;
    }

/*---------------------------------- MENU ---------------------------------------*/
    
    .home {
        display: block;
        margin: auto;
        height: 650px; 
        width: 730px;
        padding-top: 100px;
    }
    
    .right-menu {
        width: 50%;
        transform: translateX(100%);
    }

    .left-menu {
        width: 50%;
        transform: translateY(-55%);
    }

    .photo {
        width: 200px;
        border-radius: 200px; 
        border: 5px double var(--color1);
    }

/*---------------------------------- SOBRE MIM -------------------------------------*/

    div#about_me {
        display: block;
        margin: auto; 
    }

/*---------------------------------- PROJETOS ---------------------------------------*/  

    .swiper-slide {
        display: flex;
        flex-direction: row;
        align-items: center;
    }


    .projects__descrição__botão {
        display: inline-flex;
        margin-top: 20px;
    }
    
/*---------------------------------- CONTATOS ---------------------------------------*/

    div#contacts {
        display: block;
        margin: auto;
        height: 320px;  
        text-align: left;   
    }

    div#contacts p {
        margin: 0;
    }

    .funcao {
        display: block;
    }

    span#icons_contatos {
        position: relative;
        top: 25px;
        right: 30px;
    }

/*---------------------------------- FOOTER ---------------------------------------*/

    footer {
        height: 180px;
        width: 100%;
        background-color: var(--color1);
        color: var(--color2);
    }

    footer h1 {     
        font-size: 26px;
        margin: 0;    
    }

    footer h3 {
        margin: 0;
    }

    footer p {
        text-align: center;
        font-size: 10px;
    }

    .redes_footer {
        box-sizing: border-box
    }

    .redes_footer a {
        text-align: center;
        color: var(--color2);
    }

    .redes_footer a:hover {
        color: var(--color3);
    }

    .descricao {
        display: flex;
        justify-content: space-evenly;
        padding: 30px;
    }
}   