@charset "UTF-8";
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

    :root {
        --color1: #5050ee;
        --color2: #ffffff;
        --color3: #2828a4;
    }

    body {
        overflow-x: hidden;
    }
    
    html, body {
        margin: 0;
        padding: 0;
        border: 0;  
        height: 100vh;
        font-family: 'Raleway', sans-serif;
    }

    .secao {
        height: 100vh;
    }
    
    .title {
        padding: 50px 0px 0px 0px;
        font-size: 1.63rem;
        text-align: center;
    }

    p.subtitle {
        text-align: center;
    }

    body::-webkit-scrollbar {
        width: 8px;
    }

    body::-webkit-scrollbar-track {
        background: white;
    }

    body::-webkit-scrollbar-thumb {
        background-color: var(--color1);
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 35px;
        height: 35px;
        border-radius: 10px;
        opacity: 0.8;
        background-color: var(--color1);
        text-decoration: none;
        z-index: 3;
    }

    .btn::after {
        content: "🠕";
        display: flex;
        justify-content: center;
        font-size: 1.56rem;
        font-weight: bold;
        color: rgb(255, 255, 255);
        cursor: pointer;
        transition: margin-top 250ms;
    }

    .btn:hover::after {
        margin-top:-4px;
    }
    
    
/*---------------------------------- CABEÇALHO -------------------------------------*/
    
    header {
        background-color: var(--color2);
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
        position: fixed;
        height: 50px;
        width: 100%;
        z-index: 2;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navegacao  {
        display: flex;
        list-style: none;
        gap: 20px;
    }

    .left-menu h1 {
        font-size: 1.35rem;
        margin-bottom: 15px;
    }

    .left-menu p {
        font-size: 1.1rem;
        margin-bottom: 15px;
    }

    .navegacao__lista {
        color: var(--color3);
        font-weight: 500;
        text-decoration: none;
    }

    .redes__link {
        width: 60px;
        padding: 15px;
    }
    

/*---------------------------------- MENU ---------------------------------------*/

    .home {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 6em 2em 0em 2em;
        gap: 80px;
    }

    .photo {
        width: 200px;
        border-radius: 200px; 
        border: 5px double var(--color1);
    }

    .left-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }

/*---------------------------------- SOBRE MIM -------------------------------------*/

    .about_me {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    .about_text {
        text-align: justify;
        font-size: 1.3rem;
        padding: 0px 15px;
    }

    .about_skills {
        padding: 40px;
        display: flex;
        justify-content: center;
    }

    .about_skills img {
        height: 120px;
    }

    .skills {
        padding: 5px;
    }
    
    .skills img {
        display: block;
        margin: auto;
    }

    .estrelas {
        display: flex;
        justify-content: center;
        padding: 5px;
    }

    .estrelas input[type=radio] {
        display: none;
    }
    
    .estrelas label i.fa {
        font-size: 1.2rem;
        padding: 2px;
    }

    @keyframes loading {
        0% {
            transform: rotate(0);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .estrelas label i.fa:hover {
        font-size: 1.5rem;
        animation: loading 2.5s;
    }
      
    .estrelas label i.fa:before {
        content:'\f005';
        color: #FC0;
    }
    
    .estrelas input[type=radio]:checked ~ label i.fa:before {
        color: #CCC;
    }
   
/*---------------------------------- PROJETOS ---------------------------------------*/

    .projects {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .title__projects {
        padding: 100px 0 0 0; 
    }

    .projects__descrição {
        padding: 2em;
    }

    .projects__descrição__texto {
        padding: 1.5em 0;
    }

    .projects__descrição__botão {
        position: absolute;
        background: var(--color1);
        color: var(--color2);
        font-weight: 800;
        text-decoration: none;
        padding: .8em;
        border-radius: 10px;
        
    }

    .projects__imagem {
        width: 85%;
    }

    .swiper-pagination {
        position: initial;
    }

    .swiper {
        width: 100%;
    }

    .swiper-pagination {
        margin: 1em 0;
    }

    .swiper-button-next, 
    .swiper-button-prev, 
    .swiper-scrollbar {
        display: none;
    }

    .swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

/*---------------------------------- CONTATOS ---------------------------------------*/

    .secao__mobile {
        height: 73vh;
    }

    .contacts__personal {
        display: flex;
        flex-direction: column;
        gap: 50px;

        padding: 4em 2.3em;
    }

    .contacts__personal__list {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .contacts__personal__item {
        font-size: 1.2rem;
        font-weight: 800;
        margin-bottom: 8px;
    }

    .material-symbols-outlined {
        color: var(--color1);
        padding: 0em .5em;
    }

/*---------------------------------- FOOTER ---------------------------------------*/

    footer {
        height: 180px;
        background-color: var(--color1);
        color: var(--color2);
    }

    footer h1 {     
        font-size: 1.63rem;
        margin: 0;    
    }

    footer h3 {
        margin: 0;
    }

    footer p {
        text-align: center;
        font-size: 0.625rem;
    }

    .redes_footer {
        box-sizing: border-box
    }

    .redes_footer a {
        text-align: center;
        color: var(--color2);
    }

    .redes_footer a:hover {
        color: var(--color3);
    }

    .descricao {
        display: flex;
        align-items: center;
        justify-content: space-between; 
        padding: 20px;
    }
   

