@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

    :root {
        --color1: #5050ee;
        --color2: #ffffff;
        --color3: #2828a4;
    }

    body {
        overflow-x: hidden;
    }
    
    html, body {
        margin: 0;
        padding: 0;
        border: 0;  
        height: 100vh;
        font-family: 'Raleway', sans-serif;
    }

    .title {
        padding: 90px 0px  0px 0px;
        font-size: 1.63rem;
        text-align: center;
    }

    p.subtitle {
        text-align: center;
    }

    body::-webkit-scrollbar {
        width: 8px;
    }

    body::-webkit-scrollbar-track {
        background: white;
    }

    body::-webkit-scrollbar-thumb {
        background-color: var(--color1);
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 35px;
        height: 35px;
        border-radius: 10px;
        opacity: 0.8;
        background-color: var(--color1);
        text-decoration: none;
        z-index: 3;
    }

    .btn::after {
        content: "🠕";
        display: flex;
        justify-content: center;
        font-size: 1.56rem;
        font-weight: bold;
        color: rgb(255, 255, 255);
        cursor: pointer;
        transition: margin-top 250ms;
    }

    .btn:hover::after {
        margin-top:-4px;
    }

    @keyframes load {       
        to{transform: rotate(360deg);}
    }

    .pre {
        width: 100px;
        height: 100px;
        background-image: url('/imagens/load_blue.png');
        background-position: center;
        background-size: contain;

        animation: load 2s infinite linear;
    }

    .box-load {
        position: absolute;
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content{
        display: none
    }

/*---------------------------------- CABEÇALHO -------------------------------------*/
    
    header {
        background-color: var(--color2);
        position: fixed;
        width: 100%;
        z-index: 1;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
    }

    nav ul {
        margin: 0;
        padding: 15px;
    }

    nav li {
        display: inline;
        font-size: 0.812rem;
        padding: 3px;
        margin-left: 15px;
    }

    nav a {
        color: var(--color1);
        text-decoration: none;
    }

    nav a:hover {
        color: var(--color3);
        text-decoration: none;
    }

    div#mode {
        position: absolute; 
        right: 20px;
        top: -10px;
    }

    label#darkmode-button {
        width: 30px;
        height: 30px;
        position: relative;
        display: none; /* !_!_!_!_! */
        background: #ebebeb;
        border-radius: 20px;
        box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
        cursor: pointer;
        transition: 0.3s;
    }

    label#darkmode-button:after {
        content: "";
        width: 26px;
        height: 26px;
        position: absolute;
        top: 2px;
        left: 2px;
        background: linear-gradient(180deg, #ffcc89, #d8860b);
        border-radius: 180px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        transition: 0.3s;
    }

    input#darkmode-button {
        width: 0;
        height: 0;
        visibility: hidden;
    }

    input#darkmode-button:checked + label {
        background: #242424;
    }

    input#darkmode-button:checked + label:after {
        background: linear-gradient(180deg, #777, #3a3a3a);
    }

/*---------------------------------- MENU ---------------------------------------*/

    .right-menu {
        height: 350px;
    }

    .photo {
        position: relative;
        top: 100px;
        left: 80px;
        width: 200px;
        border-radius: 200px; 
        border: 5px double var(--color1);
    }

    .left-menu {
        height: 470px;
    }

    .left-menu h1 {
        font-size: 1.5rem;
        padding: 0px 30px;
    }

    .left-menu p {
        font-size: 0.9rem;
        padding: 0px 30px;
    }

    .destaque, #destaque {
        color: var(--color1);
    }

    .redes {
        text-align: center;
        padding: 50px;
    }

    .redes a {
        color: var(--color1);
        padding: 20px;
    }
    
    .redes a:hover {
        color: var(--color3);
    }

/*---------------------------------- SOBRE MIM -------------------------------------*/

    .about_me h1 {
        background-color: #242424;
        padding: 100px 20px 0px 20px;
    }

    .about_text {
        text-align: justify;
        font-size: 1.1rem;
        padding: 0px 15px;
    }

    .about_skills {
        padding: 40px;
        display: flex;
        justify-content: center;
    }

    .about_skills img {
        height: 120px;
    }

    .skills {
        display: inline-block;
        width: 200px;
        height: 200px;
        border-radius: 5px;
    }
    
    .skills img {
        margin: auto;
        display: block;
        padding-top: 15px;
    }

    .estrelas {
        padding: 5px;
        display: flex;
        justify-content: center;
    }

    .estrelas input[type=radio] {
        display: none;
    }
    
    .estrelas label i.fa {
        font-size: 1.2rem;
        padding: 2px;
    }

    @keyframes loading {
        0% {
            transform: rotate(0);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .estrelas label i.fa:hover {
        font-size: 1.5rem;
        animation: loading 2.5s;
    }
      
    .estrelas label i.fa:before {
        content:'\f005';
        color: #FC0;
    }
    
    .estrelas input[type=radio]:checked ~ label i.fa:before {
        color: #CCC;
    }
   
/*---------------------------------- PROJETOS ---------------------------------------*/



/*---------------------------------- CONTATOS ---------------------------------------*/

    div#contacts {
        height: 400px;
        text-align: center;  
    }

    .funcao {
        display: none;
    }

    .material-symbols-outlined {
        color: var(--color1);
    }

/*---------------------------------- FOOTER ---------------------------------------*/

    footer {
        height: 180px;
        background-color: var(--color1);
        color: var(--color2);
    }

    footer h1 {     
        font-size: 1.63rem;
        margin: 0;    
    }

    footer h3 {
        margin: 0;
    }

    footer p {
        text-align: center;
        font-size: 0.625rem;
    }

    .redes_footer {
        box-sizing: border-box
    }

    .redes_footer a {
        text-align: center;
        color: var(--color2);
    }

    .redes_footer a:hover {
        color: var(--color3);
    }

    .descricao {
        display: flex;
        align-items: center;
        justify-content: space-between; 
        padding: 20px;
    }
   

