@charset "UTF-8";

/*---------------------------------- PRINCIPAL ---------------------------------------*/

:root {
    --cor0: #5271FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

main {
    display: block;
    margin: auto;
    width: 1000px;
    padding-bottom: 50px;
}

h1.title {
    font-size: 2.5em;
    color: var(--cor0);
    text-align: center;
}

/*---------------------------------- MENU ---------------------------------------*/

nav {
    background-color: white;
    position: fixed;
    text-align: center;
    padding: 15px;
    width: 100vw;
    z-index: 1;
    box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.075);
}

nav > ul > li {
    display: inline;   
    padding: 10px 15px; 
}

nav a {
    font-size: 18px;
    color: var(--cor0);
}

nav a:hover {
    color: #103bfc;
    font-weight: bolder;
}

span#mode {
    font-size: 25px;
    color: var(--cor0);
    position: relative;
    top: 5px;
    right: 50px;
}

span#mode:hover {
    color: #103bfc;
    cursor: pointer;
}

/*---------------------------------- HOME ---------------------------------------*/

.home {
    height: 700px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-menu {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right-menu > img {
    border-radius: 60px;
}

.left-menu {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}

.left-menu > h1 {
    margin-left: 27px;
}

.left-menu > p {
    color: rgb(73, 73, 73);
    margin-top: 20px;
}

.redes{ 
    margin-top: 90px;
}

.redes svg{
    width: 100px;
    color: var(--cor0);
}

.redes svg:hover {
    color: #103bfc;  
}

.destaque, #destaque {
    color: var(--cor0);
}

/*---------------------------------- ABOUT ME ---------------------------------------*/

div#about_me {
    position: relative;
    top: 30px;
    padding: 70px;
}

div#about_me p {
    font-size: 18px;
    padding: 10px;
}

div#container_1 {
    display: inline-block;
    width: 500px;
}

div#container_2 {
    display: inline-block;
}

div#container_2 img {
    height: 170px;
}

h1#title-about_me {
    position: relative;
    top: 30px;
}

p#about_text {
    margin-top: 50px;
    text-align: justify;
}

div#tecnologys {
    position: relative;
    top: -30px;
    left: 150px;
}

/*---------------------------------- PROJECTS ---------------------------------------*/

div#projects {
    margin-bottom: 300px;
}

h1#title_pj {
   position: relative;
   top: 100px;
}

img.projects {
    height: 240px;
    padding: 10px;
}

img.projects:hover  {
    height: 255px;
    width: 500px; 
    transition: .4s;
}

div#img_projects {
    position: relative;
    top: 110px;
    left: 20px;
}

/*---------------------------------- CONTATO ---------------------------------------*/

div#contacts {
    font-size: 20px;
    margin-left: 100px;
}

div#contacts p {
    font-size: 16px;
    margin-left: 100px;
}

p#subtitle {
    position: relative;
    top: 5px;
    text-align: center;
}

 div#contacts span.material-symbols-outlined {
    position: relative;
    color: #5271FF;
    font-size: 40px;
    right: -50px;
    top: 45px;
    
}

/*--------------------------------- FOOTER -------------------------------------------*/

footer {
    background-color: #5271FF;
    color: white;
    font-weight: bold;
    display: block;
    text-align: center;
}

div#redes_footer {
    display: inline;
    position: relative;
    top: 40px;
    left: 230px;
}

footer > h1 {
    margin-right: 365px;
}

footer > h3 {
    margin-right: 328px;
    font-weight: normal;
}

footer > p {
    padding: 25px 0px;
    font-weight: normal;
    color: #c4c4c4;
    font-style: italic;
    
}

.footer_social {
    padding: 10px;
}

.footer_social {
    color: white;
}

.footer_social:hover {
    transition: 0.3s;
    color: #2c3d88;
}