@charset "UTF-8";

/*---------------------------------- PRINCIPAL ---------------------------------------*/

:root {
    --cor0: #5271FF;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

html, body {
    height: 100vh;
    position: relative;
    overflow-x: hidden;
}

main {
    display: block;
    margin: auto;
    width: 1000px;
    padding-bottom: 50px;
}

h1.title {
    font-size: 2.5em;
    color: var(--cor0);
    text-align: center;
}

/*---------------------------------- MENU ---------------------------------------*/

nav {
    background-color: white;
    position: fixed;
    display: block;
    text-align: center;
    padding: 10px;
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.211);
    z-index: 1;
}

nav > ul > li {
    display: inline;   
    padding: 10px 15px; 
}

nav a {
    color: var(--cor0);
    font-weight: bold;
}

nav a:hover {
    transition: 1.0s;
    color: #103bfc;
    font-weight: bold;
    text-decoration: underline;
}

span.destaque {
    color: var(--cor0);
}

span#mode {
    position: relative;
    color: var(--cor0);
    top: 5px;
    right: 50px;
}

span#mode:hover {
    transition: 1.0s;
    color: #103bfc;
    cursor: pointer;
}

/*---------------------------------- HOME ---------------------------------------*/

img#photo {
    display: block;
    height: 400px; 
    transform: translateX(150%);  
    border-radius: 50px 0px 50px 0px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.373);
    z-index: 0;
}

div#texts {
    position: relative;
    display: inline-block;
    transform: translateY(130%);
    top: 20px; 
}

div#redes{
    position: relative;
    display: block;      
    top: -60px;                                                                                           
    left: 80px;
}

div#redes svg{
    width: 100px;
    padding: 0px 20px;
    color: var(--cor0);
}

div#redes svg:hover {
    transition: 1.0s;
    color: #103bfc;
    
}
 
div#home {
    height: 592px;
}

/*---------------------------------- ABOUT ME ---------------------------------------*/

div#about_me {
    position: relative;
    top: 100px;
    margin-bottom: 220px;
}

div#about_me h1 {
    padding: 20px;
}

div#about_me p {
    font-size: 18px;
    padding: 10px;
}

div#container_1 {
    display: inline-block;
    width: 500px;
}

div#container_2 {
    display: inline-block;
}

div#container_2 img {
    height: 170px;
}

h1#title-about_me {
    position: relative;
    top: 40px;
}

p#about_text {
    margin-top: 50px;
    text-align: justify;
}

div#tecnologys {
    position: relative;
    top: -30px;
    left: 150px;
}

/*---------------------------------- PROJECTS ---------------------------------------*/

div#projects {
    margin-bottom: 300px;
}

h1#title_pj {
   position: relative;
   top: 60px;
}

img.projects {
    height: 240px;
    padding: 10px;
}

img.projects:hover  {
    height: 255px;
    width: 500px; 
    transition: .4s;
}

div#img_projects {
    position: relative;
    top: 80px;
    left: 20px;
}

/*---------------------------------- CONTATO ---------------------------------------*/

div#contact {
    margin-top: 150px;
}

div#contacts {
    font-size: 20px;
    margin-left: 100px;
}

h1#title_contato {
   position: relative;
   top: -45px;
}

p#subtitle {
    position: relative;
    top: -45px;
    font-size: 16px;
    text-align: center;
}

 div#contacts span.material-symbols-outlined {
    position: relative;
    color: #5271FF;
    font-size: 40px;
    right: 50px;
    top: 50px;
    
}

/*--------------------------------- FOOTER -------------------------------------------*/

footer {
    background-color: #5271FF;
    color: white;
    font-weight: bold;
    display: block;
    text-align: center;
}

div#redes_footer {
    display: inline;
    position: relative;
    top: 40px;
    left: 230px;
}

footer > h1 {
    margin-right: 350px;
}

footer > h3 {
    margin-right: 328px;
    font-weight: normal;
}

footer > p {
    padding: 25px 0px;
    font-weight: normal;
    color: #c4c4c4;
    font-style: italic;
    
}

.footer_social {
    padding: 10px;
}

.footer_social {
    color: white;
}

.footer_social:hover {
    transition: 0.3s;
    color: #2c3d88;
}