.navegacao {
    justify-content: space-between;
    margin: 30px 20px;
    display: flex;
}

.left-menu h1 {
    font-size: 1.35rem;
    margin-bottom: 15px;
}

.left-menu p {
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.navegacao__lista {
    color: var(--color3);
    text-decoration: none;
    font-weight: bold;
}

.navegacao__desktop {
    display: none;
} 