.navegacao {
    margin: 2rem;
    
    justify-content: space-between;
    display: flex;
}

.navegacao__desktop {
    display: none;
} 

.left-menu h1 {
    font-size: 1.35rem;
    margin-bottom: 1rem;
}

.left-menu p {
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.navegacao__lista {
    color: var(--color3);
    text-decoration: none;
    font-weight: bold;
}

.navegacao__lista:hover {
    color: var(--color1);
}