.contatos {
    padding: 5em 3em;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formulario__campo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input, textarea {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px;
}

textarea {
    min-height: 30px;
    resize: vertical;
}

input, textarea {
    outline: .5px solid var(--color4);
}

input:hover, textarea:hover  {
    background-color: #0099cc18;
    outline: .5px solid #0099cc;
}

.btn-enviar {
    color: var(--color2);
    background-color: var(--color1);
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.15);

    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
    border: 0;
    width: 100%;
    cursor: pointer;
}

.obrigatorio {
    color: #ff0000;
}