.contatos {
    background-color: var(--color2);

    padding: 3em 3em 0em 3em;
}

.paragrafos__contatos {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 40px 0px;
}

.container__icones-contatos {
    display: flex;
    justify-content: center;
    background-color: var(--color7);
    box-shadow: rgba(0, 0, 0, 0.151) 0px 0px 10px 0px;
    border-radius: 60px;
    height: 50px;
    width: 50px;
}

.container__imagem-contatos {
    align-self: center;
    height: 35px;
}

