.projetos {
    display: flex;
    flex-direction: column;
    padding: 4.5em 2em 0em 2em;
    gap: 20px;
}

.container__projetos {
    background-color: rgba(40, 38, 44, 0.15);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 15px;
}

.container__projetos-titulo {
    font-size: 1.2rem;
}

.container__projetos-tecnologia {
    display: flex;
    gap: 10px;
}

.container__projetos-tecnologia li {
    background-color: var(--color1);
    color: var(--color2);
    padding: .2rem .3rem;
}

.container__projetos-descricao {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.5px;
}

.botao__personalizado {
    background-color: var(--color1);
    color: var(--color2);
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.15);

    width: 80%;
    padding: .8rem;
    align-self: center;
}