.projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

    padding: 4.5rem 3rem 4.5rem 3rem;
}

.container__projeto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.projeto__titulo-projeto {
    text-align: center;
}

.projeto__texto {
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.72px;
    
    margin-top: 1.2rem;
}

.imagem__projeto {
    width: 350px;
    border-radius: 1.5rem;
}

.projeto__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    padding: 2rem;
}

.links {
    display: flex;
    gap: 0.5rem;
}

.links a {
    color: var(--color4);

    text-decoration: none;
    font-weight: bold;
}

.imagens__links {
    height: 1rem;
}