.rodape {
    background-color: #1d1d80;
    color: var(--color2);

    text-align: center;

    border-top: .3rem solid var(--color1);
    padding: 2em;
}

.rodape p {
    margin: 1rem;
}

.icones__rodape {
    height: 45px;
}

.container__icones-rodape {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.icones__rodape:hover {
    transition: transform 0.5s ease-in-out;
    transform: scale(1.1);
}