.rodape {
    background-color: #1d1d80;
    color: var(--color2);
    text-align: center;
    padding: 2em;

    border-top: 7px solid var(--color1);
}

.rodape p {
    margin: 15px;
}

.icones__rodape {
    height: 45px;
}

.container__icones-rodape {
    display: flex;
    justify-content: center;
    gap: 25px;
}