@media screen and (min-width: 980px) {
    
    main {
        display: block;
        margin: auto;
        width: 75vw;
    }

    .navegacao__desktop {
        display: block;
    } 

    /*---------------------------------------------*/
    
    .navegacao {
        justify-content: space-around;
    }

    .navegacao__lista:hover {
        color: var(--color1);
    }
    
    /*---------------------------------------------*/

    .home {
        justify-content: center;
        flex-direction: row-reverse;
        gap: 100px;
    }

    .menu__profissao, .menu__nome, .menu__sobre-mim  {
        text-align: left;
    }

    .download {
        align-self: flex-start;
        margin: 40px 0px;
        width: 20%;
    }

    /*---------------------------------------------------------*/

    .projetos__desktop {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .container__projetos {
        width: 45.5%;
    }
    
    .botao__personalizado {
        width: 40%;
    }
    /*----------------------------------------------------------*/

    .btn-enviar {
        align-self: center;
        width: 50%;

    }
}   

