@charset "UTF-8";

@media screen and (min-width: 980px) {
    
    main {
        width: 50%;
        padding-top: 0;
        margin-left: auto;
        margin-right: auto;   
    }

    .secao {
        height: 100vh;
    }
    
/*---------------------------------- HEADER ---------------------------------------*/
    
    .navegacao  {
        gap: 80px;
    }

    .navegacao__desktop {
        display: block;
    } 
    

/*---------------------------------- MENU ---------------------------------------*/
    
    .home {
        height: 86vh;
        flex-direction: row-reverse;
        gap: 50px;
    }

    .photo {
        align-self: center;
        width: 250px;
        border: 2.5px solid var(--color1);
    }

/*---------------------------------- SOBRE MIM -------------------------------------*/

    .about_skills {
       gap: 60px;
    }

/*---------------------------------- PROJETOS ---------------------------------------*/  

    .projects {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .title__projects {
        padding: 86px 0 0 0; 
    }
  
    .projects__descrição__botão {
        background: var(--color1);
        font-weight: 800;
        width: 86px;
        padding: .8em;
        border-radius: 10px;
    }

    .projects__imagem {
        width: 68%;
    }

    .swiper-button-next, 
    .swiper-button-prev {
        display: block;
    }

    .swiper-scrollbar {
        display: none;
    }

    .swiper-backface-hidden .swiper-slide {
        gap: 15px;
    }

/*---------------------------------- CONTATOS ---------------------------------------*/


/*---------------------------------- FOOTER ---------------------------------------*/

  .rodape__descricao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 300px;
    margin-bottom: 80px;
  }

  .rodape__redes {
    padding: 0;
  }
}   