@media screen and (min-width: 980px) {
    
    main {
        display: block;
        margin: auto;
        width: 85vw;
    }

    .navegacao__desktop {
        display: block;
    } 

    /*---------------------------------------------*/

    .home {
        flex-direction: row-reverse;
        gap: 100px;
    }

    .menu__profissao, .menu__nome, .menu__sobre-mim  {
        text-align: left;
    }

    .download {
        align-self: flex-start;
        margin: 40px 0px;
        width: 20%;
    }

    .projetos {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0em;
        gap: 20px;
    }

    .project__section {
        display: flex;
        flex-direction: column;
        padding: 4.5em 2em 0em 2em;
        gap: 30px 0px;
    }

    .container__projetos {
        width: 45%;
    }

}   